
.home-view {
    padding: 0.3rem;
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  .home-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--color-title);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .home-summary {
    background-color: var(--color-background);
    padding: calc(35px + env(safe-area-inset-top));
    border-radius: var(--radius);
    margin-bottom: 1.5rem;
    margin-top: 64px;
    text-align: center;
  }
  
  .location-name {
    font-size: 2rem;
  }

  
  .temp-actual {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-red);
    margin: 0.5rem 0;
  }
  
  .estado {
    font-size: 0.9rem;
    color: var(--color-gray);
  }
  
  .rango {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--color-text);
  }
  
  .forecast-title {
    font-size: 1.2rem;
    margin: 1rem  0.5rem;
    color: var(--color-title);
    text-align: center ;
  }
  
  .forecast-list {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    background-color: #fff;
    padding: 0.3rem;
    padding-bottom: 1rem;
  }
  
  .forecast-row {
    display: grid;
    grid-template-columns: 50px 30px 80px 1fr 1fr 1fr;
    align-items: center;
    background: #fff;
    padding: 1rem 0.75rem;
    font-size: 0.95rem;
    color: var(--color-text);
    border-bottom: 1px solid #ccc;
  }
  
  .forecast-row .day {
    font-weight: bold;
  }
  
  .forecast-row i {
    text-align: center;
    font-size: 0.8rem;
  }
  
  .forecast-row .temps {
    text-align: center;
    font-weight: bold;
  }
  
  .forecast-row .wind,
  .forecast-row .humidity,
  .forecast-row .rain {
    text-align: right;
    font-size: 0.8rem;
    color: var(--color-gray);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: flex-end;
  }
  
  .btn-full {
    width: 100%;
    margin-top: 1rem;
  }
  
  .mt-2 {
    margin-top: 1rem;
  }